# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Ubuntu_1804.2019.522.0_x64\rootfs\home\wxz\Documents\Battery_Digital_Twin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
